body {
    background-color: slategrey;
    color: white;
    margin: 35px;
}
h1 {
  font-family: verdana, arial, sans-serif;
}
button {
  padding: 15px;
  border-radius: 15px;
}
#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
.hidden {
  display: none;
}
#button1 {
  background-color: lightgreen;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
#button1:active, #button1.lit {
  background-color: green;
}
#button2 {
  background-color: lightblue;
}
#button2:active, #button2.lit {
  background-color: blue;
}
#button3 {
  background-color: pink;
}
#button3:active, #button3.lit {
  background-color: red;
}
#button4 {
  background-color: lightyellow;
}
#button4:active, #button4.lit {
  background-color: yellow;
}
#button5 {
  background-color: orange;
}
#button5:active, #button5.lit {
  background-color: darkorange;
}
#button6 {
  background-color: purple;
}
#button6:active, #button6.lit {
  background-color: indigo;
}
#timer {
   text-align: right;
}